Repository FUJAKEY/ddnet-cheat, changes with the labels that .github/labeler.yml gives for each.
All labels: network, sixup, scripts, android, base, building, CI, client, server, antibot, editor, prediction, sql, macOS, tests, tools, UI/UX, teehistorian

.github/labeler.yml:

network:
- any: ["datasrc/*.py"]

sixup:
- any: ["datasrc/seven/*.py"]

scripts: "scripts/**/*"

android:
- any: ["scripts/android/**/*", "src/android/**/*"]

base: "src/base/**/*"

building:
- any: ["*.supp", "CMakeLists.txt", "Dockerfile"]

CI:
- any: ["bors.toml", ".github/workflows/**/*"]

client:
- any: ["src/engine/client/**/*", "src/engine/shared/**/*", "src/game/client/**/*", "src/game/*.{h,cpp,rs}"]

server:
- any: ["src/engine/server/**/*", "src/engine/shared/**/*", "src/game/server/**/*", "src/game/*.{h,cpp,rs}"]

antibot: "src/antibot/**/*"

editor:
- any: ["src/game/editor/**/*"]

prediction:
- any: ["src/game/client/prediction/**/*"]

sql:
- any: ["src/engine/server/databases/**/*"]

macOS:
- any: ["src/macos/**/*", "./**/*.mm"]

tests:
- any: ["src/test/**/*"]

tools:
- any: ["src/tools/**/*"]

"UI/UX":
- any:
  - "src/game/client/components/menu_*.{h,cpp}"
  - "src/game/client/components/*board.{h,cpp}"
  - "src/game/client/components/{hud,chat,freezebars,killmessages}.{h,cpp}"
  - "src/game/client/ui*.{h,cpp}"

teehistorian:
- any: ["src/game/server/teehistorian.{h,cpp}"]

Update CMakeLists.txt to SDL3
  CMakeLists.txt
Labels: none

Rename headers with SDL2 to SDL3 migration script ./rename_headers.py src
  src/android/android_main.cpp
  src/engine/client/backend/backend_base.h
  src/engine/client/backend/vulkan/backend_vulkan.cpp
  src/engine/client/backend_sdl.cpp
  src/engine/client/backend_sdl.h
  src/engine/client/client.cpp
  src/engine/client/input.cpp
  src/engine/client/input.h
  src/engine/client/sound.cpp
  src/engine/client/sound.h
Labels: none

SDL3 functions return bool instead of int
  src/engine/client/client.cpp
Labels: none

Rename symbols with SDL2 to SDL3 migration script ./rename_symbols.py --all-symbols src
  src/android/android_main.cpp
  src/engine/client/backend_sdl.cpp
  src/engine/client/client.cpp
  src/engine/client/input.cpp
  src/engine/client/sound.cpp
Labels: none

Update to codes:
  src/game/client/components/menus.h
  src/game/client/components/menus_ingame.cpp
  src/game/client/components/menus_ingame_touch_controls.cpp
  src/game/client/components/touch_controls.cpp
  src/game/client/components/touch_controls.h
Labels: none

Style+Clang-Tidy
  src/game/client/components/menus_ingame_touch_controls.cpp
  src/game/client/components/touch_controls.cpp
Labels: none

Fix SDL3 graphics
  src/engine/client/backend/vulkan/backend_vulkan.cpp
  src/engine/client/backend_sdl.cpp
  src/engine/client/backend_sdl.h
  src/engine/client/graphics_threaded.cpp
  src/engine/client/graphics_threaded.h
Labels: none

Add SDL_SetAppMetadata
  src/engine/client/client.cpp
Labels: none

Fix SDL3 audio
  src/engine/client/sound.cpp
  src/engine/client/sound.h
Labels: none

Fix SDL3 mouse
  src/engine/client/input.cpp
Labels: none

Use macros for SDL_SetHint
  src/engine/client/client.cpp
Labels: none

Add m_pWindow to CInput
  src/engine/client/input.cpp
  src/engine/client/input.h
Labels: none

Fix SDL3 joysticks
  src/engine/client/input.cpp
  src/engine/client/input.h
Labels: none

Fix SDL3 text input
  src/engine/client/client.cpp
  src/engine/client/input.cpp
  src/engine/client/input.h
  src/engine/input.h
  src/engine/shared/config_variables.h
  src/game/client/ui.cpp
Labels: none

Fix SDL3 touch
  src/engine/client/input.cpp
  src/engine/input.h
Labels: none

Fix SDL3 events
  src/engine/client/input.cpp
Labels: none

Use SDL3 in build/ci
  .github/workflows/build.yml
  .github/workflows/clang-sanitizer.yml
  .github/workflows/clang-tidy.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/style.yml
  .gitignore
  .gitlab/build.yml
  Dockerfile
  cmake/FindSDL2.cmake
  cmake/FindSDL3.cmake
  scripts/compile_libs/gen_libs.sh
Labels: scripts

Add net message for save codes
  datasrc/network.py
  src/engine/shared/protocol.h
  src/game/client/gameclient.cpp
  src/game/client/gameclient.h
  src/game/server/score.cpp
  src/game/server/score.h
  src/game/server/scoreworker.cpp
  src/game/server/scoreworker.h
  src/game/server/teams.cpp
Labels: network

Fix bugs, merge changes.
  src/game/client/components/menus.h
  src/game/client/components/menus_ingame_touch_controls.cpp
Labels: none

build render pipeline
  CMakeLists.txt
  src/game/client/components/background.cpp
  src/game/client/components/background.h
  src/game/client/components/maplayers.cpp
  src/game/client/components/maplayers.h
  src/game/client/components/mapsounds.cpp
  src/game/client/components/menu_background.cpp
  src/game/client/components/menu_background.h
  src/game/client/components/render_layer.cpp
  src/game/client/components/render_layer.h
Labels: none

Add NO_PREDICT flag to pickups
  datasrc/network.py
  src/game/client/components/items.cpp
  src/game/client/prediction/gameworld.cpp
  src/game/editor/editor.cpp
  src/game/server/gamecontroller.cpp
Labels: network, editor, prediction

Fix bugs, changed some bad variable names, layout update.
  src/game/client/components/menus.h
  src/game/client/components/menus_ingame_touch_controls.cpp
Labels: none

Speed up position calculating algorithm
  src/game/client/components/touch_controls.cpp
  src/game/client/components/touch_controls.h
Labels: none

Add Volume params to CEffects
  src/engine/shared/config_variables.h
  src/game/client/components/effects.cpp
  src/game/client/components/effects.h
  src/game/client/components/players.cpp
  src/game/client/gameclient.cpp
Labels: none

remove <algorithm> from "math.h"
  src/base/color.h
  src/base/math.h
  src/base/vmath.h
  src/engine/client/backend_sdl.cpp
  src/engine/server.h
  src/engine/shared/network_stun.cpp
Labels: base

Move CNetServer::GetVanillaToken to network_server.cpp
  src/engine/shared/network.h
  src/engine/shared/network_server.cpp
Labels: none

Add Fujix anti-freeze feature
  src/engine/shared/config_variables.h
  src/game/client/components/controls.cpp
  src/game/client/components/menus.h
  src/game/client/components/menus_settings.cpp
Labels: none

Improve Fujix auto hook
  src/engine/shared/config_variables.h
  src/game/client/components/controls.cpp
  src/game/client/components/controls.h
  src/game/client/components/menus.h
  src/game/client/components/menus_settings.cpp
Labels: none

Improve Fujix hook prediction
  src/engine/shared/config_variables.h
  src/game/client/components/controls.cpp
  src/game/client/components/controls.h
  src/game/client/components/menus.h
  src/game/client/components/menus_settings.cpp
Labels: none

Improve Fujix hook aiming and add prediction visual
  src/engine/shared/config_variables.h
  src/game/client/components/controls.cpp
  src/game/client/components/controls.h
  src/game/client/components/menus.h
  src/game/client/components/menus_settings.cpp
Labels: none

Improve Fujix auto hook
  src/engine/shared/config_variables.h
  src/game/client/components/controls.cpp
  src/game/client/components/controls.h
  src/game/client/components/menus.h
  src/game/client/components/menus_settings.cpp
Labels: none

Improve Fujix auto-hook reliability
  src/engine/shared/config_variables.h
  src/game/client/components/controls.cpp
  src/game/client/components/controls.h
  src/game/client/components/menus.h
  src/game/client/components/menus_settings.cpp
Labels: none

Improve Fujix auto-hook stability
  src/engine/shared/config_variables.h
  src/game/client/components/controls.cpp
  src/game/client/components/controls.h
  src/game/client/components/menus.h
  src/game/client/components/menus_settings.cpp
Labels: none

Improve Fujix hook prediction
  src/engine/shared/config_variables.h
  src/game/client/components/controls.cpp
  src/game/client/components/controls.h
  src/game/client/components/menus.h
  src/game/client/components/menus_settings.cpp
Labels: none

Improve Fujix hook search
  src/engine/shared/config_variables.h
  src/game/client/components/controls.cpp
  src/game/client/components/controls.h
  src/game/client/components/menus.h
  src/game/client/components/menus_settings.cpp
Labels: none

Improve Fujix auto-hook stability
  src/engine/shared/config_variables.h
  src/game/client/components/controls.cpp
  src/game/client/components/controls.h
  src/game/client/components/menus.h
  src/game/client/components/menus_settings.cpp
Labels: none

Enhance Fujix auto-hook for KoG
  src/game/client/components/controls.cpp
  src/game/client/components/controls.h
  src/game/client/components/menus_settings.cpp
Labels: none

enhance fujix autohook
  src/game/client/components/controls.cpp
Labels: none

Improve Fujix hook safety
  src/game/client/components/controls.cpp
Labels: none

Improve Fujix fallback logic
  src/game/client/components/controls.cpp
Labels: none
