Repository FUJAKEY/ddnet-cheat, changes with the labels that .github/labeler.yml gives for each.
All labels: network, sixup, scripts, android, base, building, CI, client, server, antibot, editor, prediction, sql, macOS, tests, tools, UI/UX, teehistorian

Allow switching teams after finish
  src/game/server/teams.cpp
Labels: none

Simplify team switch code
  src/game/server/teams.cpp
Labels: none

Fix error messages when team is already saving
  src/game/server/teams.cpp
Labels: none

Only allow switching to team 0 after finish
  src/game/server/teams.cpp
Labels: none

add more intuitive brush rotate key bind
  src/game/editor/editor.cpp
Labels: editor

support float config
  src/engine/client/client.cpp
  src/engine/shared/config.cpp
  src/engine/shared/config.h
  src/engine/shared/config_variables.h
  src/game/editor/editor_server_settings.cpp
  src/game/editor/editor_server_settings.h
  src/game/server/teehistorian.cpp
  src/test/teehistorian.cpp
Labels: editor, tests, teehistorian

Add support for converting translations to WebLate CSV format
  scripts/languages/to_csv.py
  scripts/languages/twlang.py
Labels: scripts

Add community support to mastersrv
  src/mastersrv/src/config.rs
  src/mastersrv/src/main.rs
Labels: none

Add community token support to server
  src/engine/server/register.cpp
  src/engine/server/server.cpp
  src/engine/shared/config_variables.h
Labels: none

Use arrays for snap strings
  datasrc/network.py
  src/game/client/gameclient.cpp
  src/game/client/sixup_translate_snapshot.cpp
  src/game/server/player.cpp
  src/tools/demo_extract_chat.cpp
Labels: network, tools

More detailed snapshot debug dump
  datasrc/compile.py
  datasrc/datatypes.py
  datasrc/network.py
  datasrc/seven/compile.py
  datasrc/seven/datatypes.py
  src/engine/server.h
  src/engine/shared/snapshot.h
  src/game/server/gamecontext.h
Labels: network, sixup

Add /collision, /hookcollision, /hitothers to practice
  src/game/server/ddracechat.cpp
  src/game/server/entities/character.cpp
  src/game/server/entities/character.h
  src/game/server/gamecontext.cpp
  src/game/server/gamecontext.h
Labels: none

server name_ban change
  src/engine/server/name_ban.cpp
Labels: none

remove comments
  src/engine/server/name_ban.cpp
Labels: none

replaced print with log_*
  src/engine/server/name_ban.cpp
Labels: none

Update name_ban.cpp
  src/engine/server/name_ban.cpp
Labels: none

Update src/engine/server/name_ban.cpp
  src/engine/server/name_ban.cpp
Labels: none

attempt to fix clang build issue
  src/engine/server/name_ban.cpp
Labels: none

Editor: keyboard support for fonts (closed #3570)
  CMakeLists.txt
  data/editor/cursor_text.png
  src/game/editor/editor.cpp
  src/game/editor/editor.h
  src/game/editor/font_typer.cpp
  src/game/editor/font_typer.h
Labels: editor

Add new ninja tunes (duration, movetime, velocity)
  src/game/client/components/hud.cpp
  src/game/client/components/hud.h
  src/game/client/prediction/entities/character.cpp
  src/game/server/entities/character.cpp
  src/game/tuning.h
Labels: prediction

Don't copy inputs to dummy when spectating others
  src/game/client/components/controls.cpp
Labels: none

Revert "Disable spectator count for hide_auth_status"
  src/engine/server/server.cpp
  src/game/server/player.cpp
Labels: none

Revert "Add delay to spectator count and exclude afk players"
  src/game/client/components/hud.cpp
  src/game/client/components/hud.h
  src/game/server/player.cpp
Labels: none

Revert "Fix DDNetSpectatorInfo unpack error"
  datasrc/network.py
Labels: network

Revert "Add spectator count to HUD"
  datasrc/network.py
  src/engine/shared/config_variables.h
  src/game/client/components/hud.cpp
  src/game/client/components/hud.h
  src/game/client/components/menus_settings.cpp
  src/game/client/gameclient.cpp
  src/game/client/gameclient.h
  src/game/server/player.cpp
Labels: network

Clean up server tune zone code
  src/game/server/ddracechat.cpp
  src/game/server/entities/character.cpp
  src/game/server/entities/character.h
  src/game/server/entities/laser.cpp
  src/game/server/entities/projectile.cpp
  src/game/server/entity.h
  src/game/server/gamecontext.cpp
  src/game/server/gamecontext.h
  src/game/server/gamecontroller.cpp
  src/game/server/gameworld.cpp
  src/game/server/gameworld.h
Labels: none

Remove tuning from WorldCore
  src/game/client/gameclient.cpp
  src/game/client/prediction/entities/character.cpp
  src/game/client/prediction/entities/character.h
  src/game/client/prediction/entities/laser.cpp
  src/game/client/prediction/entity.h
  src/game/client/prediction/gameworld.cpp
  src/game/client/prediction/gameworld.h
  src/game/gamecore.cpp
  src/game/gamecore.h
  src/game/server/entities/character.cpp
Labels: prediction

Don't ignore pre-CONNECTING players. Fixes #10046
  src/engine/server/server.cpp
  src/game/server/teehistorian.cpp
  src/test/teehistorian.cpp
Labels: tests, teehistorian

Also fix the ordering for AuthInit
  src/engine/server/server.cpp
Labels: none

Add mute instead of kick for votes when other teams
  src/engine/shared/config_variables.h
  src/game/server/gamecontext.cpp
Labels: none

Logout the current connection when timeout is used
  src/engine/server/server.cpp
  src/engine/shared/network.h
  src/engine/shared/network_server.cpp
Labels: none

Add rotating and flipping of weapons
  datasrc/network.py
  src/game/client/components/items.cpp
  src/game/client/components/items.h
  src/game/client/pickup_data.cpp
  src/game/client/pickup_data.h
  src/game/client/prediction/entities/pickup.cpp
  src/game/client/prediction/entities/pickup.h
  src/game/editor/editor.cpp
  src/game/mapitems.cpp
  src/game/server/entities/pickup.cpp
  src/game/server/entities/pickup.h
  src/game/server/gamecontext.cpp
  src/game/server/gamecontext.h
  src/game/server/gamecontroller.cpp
Labels: network, editor, prediction

CTeeRenderInfo refactor
  src/game/client/components/ghost.cpp
  src/game/client/components/menus.cpp
  src/game/client/components/nameplates.cpp
  src/game/client/components/players.cpp
  src/game/client/gameclient.cpp
  src/game/client/render.h
Labels: none

Support live playback of demos while they are being recorded
  src/engine/demo.h
  src/engine/shared/demo.cpp
  src/engine/shared/demo.h
  src/game/client/components/menus_demo.cpp
Labels: none

Update layout & code
  src/game/client/components/menus.h
  src/game/client/components/menus_ingame.cpp
  src/game/client/components/menus_ingame_touch_controls.cpp
  src/game/client/components/touch_controls.cpp
  src/game/client/components/touch_controls.h
Labels: none

Align, fix style
  src/game/client/components/menus.h
  src/game/client/components/menus_ingame_touch_controls.cpp
Labels: none

Add search functions just like how browser does
  src/game/client/components/menus.h
  src/game/client/components/menus_ingame_touch_controls.cpp
Labels: none

Fix and improve demo tuning handling
  src/game/client/gameclient.cpp
  src/game/client/gameclient.h
Labels: none

Set thread name using SetThreadDescription
  src/base/system.cpp
Labels: base

Add new tune lock tiles
  data/assets/entities/comfort/ddnet.png
  data/editor/tune.png
  src/game/client/gameclient.cpp
  src/game/client/prediction/entities/character.cpp
  src/game/collision.cpp
  src/game/collision.h
  src/game/editor/explanations.cpp
  src/game/mapitems.cpp
  src/game/mapitems.h
  src/game/server/entities/character.cpp
  src/game/server/entities/character.h
  src/game/server/gamecontext.cpp
  src/game/server/player.cpp
  src/game/server/save.cpp
  src/game/server/save.h
Labels: editor, prediction

.github/labeler.yml:

network:
- any: ["datasrc/*.py"]

sixup:
- any: ["datasrc/seven/*.py"]

scripts: "scripts/**/*"

android:
- any: ["scripts/android/**/*", "src/android/**/*"]

base: "src/base/**/*"

building:
- any: ["*.supp", "CMakeLists.txt", "Dockerfile"]

CI:
- any: ["bors.toml", ".github/workflows/**/*"]

client:
- any: ["src/engine/client/**/*", "src/engine/shared/**/*", "src/game/client/**/*", "src/game/*.{h,cpp,rs}"]

server:
- any: ["src/engine/server/**/*", "src/engine/shared/**/*", "src/game/server/**/*", "src/game/*.{h,cpp,rs}"]

antibot: "src/antibot/**/*"

editor:
- any: ["src/game/editor/**/*"]

prediction:
- any: ["src/game/client/prediction/**/*"]

sql:
- any: ["src/engine/server/databases/**/*"]

macOS:
- any: ["src/macos/**/*", "./**/*.mm"]

tests:
- any: ["src/test/**/*"]

tools:
- any: ["src/tools/**/*"]

"UI/UX":
- any:
  - "src/game/client/components/menu_*.{h,cpp}"
  - "src/game/client/components/*board.{h,cpp}"
  - "src/game/client/components/{hud,chat,freezebars,killmessages}.{h,cpp}"
  - "src/game/client/ui*.{h,cpp}"

teehistorian:
- any: ["src/game/server/teehistorian.{h,cpp}"]
